.home-container {
    text-align: center;
    padding: 40px;
    background: linear-gradient(to bottom, #e0e0e0, #f5f5f5);
}

.header {
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.explore-button {
    margin-top: 20px;
    background-color: blue; /* צבע ברירת מחדל */
    color: white; /* צבע הטקסט */
    border: none;
    padding: 10px 20px;
    cursor: pointer; /* מראה סמן כיד */
    transition: background-color 0.3s; /* מעבר חלק */
}

.explore-button:hover {
    background-color: pink; /* צבע הכפתור בעת ריחוף */
    cursor: pointer; /* מוודא שהסמן נשאר כיד */
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.image-container {
    flex: 1;
    padding: 10px;
}

.side-image {
    width: 100%; /* או גובה מותאם */
    border-radius: 12px;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    max-width: 300px; /* רוחב קבוע לרבועים */
    margin: auto;
}

.info-card {
    background: white;
    padding: 8px; /* שיפוט של ריפוד */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
    height: 120px; /* גובה קטן יותר */
}

.info-card:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 20px; /* גודל קטן יותר */
    color: #757575;
    margin-bottom: 4px; /* רווח קטן יותר */
}

.footer {
    margin-top: 40px;
    font-size: 14px;
    color: #757575;
}
.image-container {
    flex: 1;
    padding: 10px;
    overflow: hidden; /* להסתיר כל תוכן החורג */
}

.side-image {
    width: 100%; /* או גובה מותאם */
    max-width: 800px; /* רוחב מקסימלי לתמונה */
    max-height: 600px; /* גובה מקסימלי לתמונה */
    object-fit: cover; /* לשמור על יחס התמונה */
    border-radius: 12px;
}
